.container1{
	background-color: #4c6ec4;
	width: 500px;
	padding: 10px;
	border: 5px solid #5bb2e1;
	margin: 25px;
    opacity: 0.9;
	border-radius: 5%;
}
body{
    background-image: url(https://i.pinimg.com/1200x/5f/97/2a/5f972afd74c121a86a632dfcd5582495.jpg);
    background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
#level{
    background-image: linear-gradient(#2d87e0, #872de0);
	border: purple;
}
#section{
    background-image: linear-gradient(#2d87e0, #872de0);
	border: purple;
}
#signupbutton{
	background-image: linear-gradient(#2d87e0, #872de0);
	border: purple;
}